<style>
  .landing {
    text-align: center;
  }
  .landing img {
    margin: 50px;
  }
  .profile-wrapper {
    padding: 15px;
    width: 50%;
  }
  .profile-wrapper > p {
    font-size: 1.25em;
    margin: 0.75em;
    text-align: left;
  }
  .profile-wrapper .btn {
    margin-top: 1.5em;
  }
  .vis-wrapper {
    background: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 5px;
  }
  .vis-wrapper-dist1 {
    height: calc(60vh - 90px);
    margin-left: 0px;
  }

</style>
<div pixiedust="{{pd_controls|htmlAttribute}}" class="landing container">
  <a id="nav-land-{{prefix}}" data-toggle="tab" href="#pane-land-{{prefix}}" pixiedust></a>
  <target pd_target="pane-land{{prefix}}" pd_entity="peaceidx"
          pd_options="handlerId=mapView;rendererId=google;keyFields=FIELD3;valueFields=FIELD5;aggregation=SUM;rowCount=500;mapboxtoken=pk.eyJ1IjoidmFiYXJib3NhIiwiYSI6ImNqMDE4a2lrZzA2NjkzMm94bXZqdTk4amYifQ.rfxH46T8UoWwxRegb3_X6g">
  <div class="row">
    <div class="col-sm-12">
      <img src="img/groundTruth-logo-banner.png" height="80px" />
    </div>
  </div>
  <div class="row " style="height: 450px">
    <div class="col-sm-12">
        <div id="pane-land{{prefix}}" class="vis-wrapper vis-wrapper-dist1"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4 profile-wrapper">
          <h2>Global Motors Inc</h2>
          <p>
            Automobile manufacturer from Japan with operations in Egypt, Colombia and India. 
          </p>
          <p>
            <button type="button" class="btn btn-primary btn-lg">
              Select
              <pd_script>
  self.selectProfile("profile1")
              </pd_script>
            </button>
          </p>
        </div>
        <div class="col-sm-4 profile-wrapper">
          <h2>Global Beverages Inc</h2>
          <p>
            A Food and Beverage multinational from Switzerland that sources large amounts of coffee from Colombia and India.
          </p>
          <p>
            <button type="button" class="btn btn-primary btn-lg">
              Select
              <pd_script>
  self.selectProfile("profile2")
              </pd_script>
            </button>
          </p>
        </div>
      </div>
    </div>
  <div>
</div>
<script>
  $('#nav-land-{{prefix}}').click();
</script>