<style>
  .landing {
    text-align: center;
  }
  .landing img {
    margin: 50px;
  }
  .profile-wrapper {
    padding: 15px;
  }
  .profile-wrapper > p {
    font-size: 1.25em;
    margin: 0.75em;
    text-align: left;
  }
  .profile-wrapper .btn {
    margin-top: 1.5em;
  }
</style>
<div pixiedust="{{pd_controls|htmlAttribute}}" class="landing container">
  <div class="row">
    <div class="col-sm-12">
      <img src="img/groundTruth-logo-banner.png" height="100px" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-4 profile-wrapper">
          <h2>Global Motors Inc</h2>
          <p>
            Automobile manufacturer from Japan with operations in Egypt, Colombia and India. 
            Their assembly plant in Egypt at 6th of October City near Cairo has seen waves of civil unrest protests
            in the past few weeks possibly endangering the safety and security of their employees.
          </p>
          <p>
            <button type="button" class="btn btn-primary btn-lg">
              Select
              <pd_script>
  self.selectProfile("profile1")
              </pd_script>
            </button>
          </p>
        </div>
        <div class="col-sm-4 profile-wrapper">
          <h2>Global Beverages Inc</h2>
          <p>
            A Foods and Beverage multinational from Switzerland that sources large amounts of coffee from Colombia and India.
            The wet seasons in Colombia are crucial both for the crop yield as well as the overall supply chain due to constant flood and mudslide risks.
          </p>
          <p>
            <button type="button" class="btn btn-primary btn-lg">
              Select
              <pd_script>
  self.selectProfile("profile2")
              </pd_script>
            </button>
          </p>
        </div>
      </div>
    </div>
  <div>
</div>