<div pixiedust="{{pd_controls|htmlAttribute}}" style="height:100%;">
<ul class="nav nav-tabs" style="margin:0;padding-right:2em;">
  <li><a data-toggle="tab" href="#pane-dist-{{prefix}}" pixiedust>
      Disruption Dashboard
      <target pd_target="pane-dist1{{prefix}}" pd_entity
        pd_options="debug=True;handlerId=mapView;rendererId=mapbox;keyFields=lat,long;valueFields=evtDate,genDate,location;preserveCols=key;aggregation=COUNT;rowCount=100;nostore_figureOnly=true;mapboxtoken=pk.eyJ1IjoidmFiYXJib3NhIiwiYSI6ImNqMDE4a2lrZzA2NjkzMm94bXZqdTk4amYifQ.rfxH46T8UoWwxRegb3_X6g">
          <pd_event_handler pd_script="self.alert=self.getAlert(eventInfo['key']) if 'key' in eventInfo else None">
            <target pd_target="pane-dist2{{prefix}}" pd_entity="alert" pd_options="handlerId=dataframe;table_noschema=true"/>
            <target pd_target="pane-dist3{{prefix}}" pd_script="self.showWatsonResults()"/>
          </pd_event_handler>
      </target>
      <target pd_target="pane-dist2{{prefix}}" pd_entity pd_options="handlerId=dataframe;table_noschema=true"/>
      <target pd_target="pane-dist3{{prefix}}" pd_entity pd_options="handlerId=scatterPlot;rendererId=mapbox;keyFields=evtDate;valueFields=genDate;aggregation=SUM;rowCount=100;nostore_figureOnly=true"/>
      <target pd_target="pane-dist4{{prefix}}" pd_entity pd_options="handlerId=barChart;rendererId=bokeh;keyFields=evtDate;valueFields=count;aggregation=SUM;rowCount=100;nostore_figureOnly=true"/>
    </a></li>
  <li><a data-toggle="tab" href="#pane-gt-{{prefix}}" pixiedust>
      GroundTruth Explorer
      <target pd_target="pane-gt1{{prefix}}" pd_entity
        pd_options="handlerId=barChart;rendererId=bokeh;keyFields=evtDate;valueFields=count;legend=false;aggregation=SUM;rowCount=100;nostore_figureOnly=true"/>
      <target pd_target="pane-gt2{{prefix}}" pd_entity
        pd_options="debug=True;handlerId=mapView;rendererId=mapbox;keyFields=lat,long;valueFields=evtDate,genDate,location;preserveCols=key;aggregation=COUNT;rowCount=100;nostore_figureOnly=true;mapboxtoken=pk.eyJ1IjoidmFiYXJib3NhIiwiYSI6ImNqMDE4a2lrZzA2NjkzMm94bXZqdTk4amYifQ.rfxH46T8UoWwxRegb3_X6g">
      </target>
      <target pd_target="pane-gt3{{prefix}}" pd_entity
        pd_options="handlerId=lineChart;rendererId=bokeh;keyFields=evtDate;valueFields=count;legend=false;aggregation=SUM;rowCount=100;nostore_figureOnly=true"/>
      </a></li>
  <li class="dropdown disabled" style="float:right;">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="border-color:transparent;cursor:default;font-weight:600;">{{entity.countryName}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="#">Egypt</a></li>
      <li><a href="#">Columbia</a></li>
    </ul>
  </li>
</ul>

<div class="tab-content" style="height:calc(100% - 25px);padding:5px;">
  <div id="pane-welcome-{{prefix}}" class="row tab-pane" style="height: 100%">
    <div class="col-sm-12" style="height: 100%">
      <div style="height:60%;overflow:auto;padding:5px;">
        <p><strong>Welcome</strong></p>
        <p>{{entity.alerts|length}} alerts available</p>
      </div>
    </div>
  </div>
  
  <div id="pane-ctry-{{prefix}}" class="row tab-pane fade in active" style="height: 100%">
    <div id="pane-ctry1{{prefix}}" style="height:100%;width:100%;overflow:auto;padding:5px;">
      <p><strong>Welcome</strong></p>
    </div>
  </div>
  
  <div id="pane-dist-{{prefix}}" class="row tab-pane" style="height: 100%">
    <div class="col-sm-7" style="height: 100%">
      <div id="pane-dist1{{prefix}}" style="height:60%;overflow:auto;padding:5px;"></div>
      <div id="pane-dist2{{prefix}}" style="height:39%;overflow:auto;padding:5px;"></div>
    </div>
    <div class="col-sm-5" style="height: 100%">
      <div id="pane-dist3{{prefix}}" style="height:48%;overflow:auto;padding:5px;"></div>
      <div id="pane-dist4{{prefix}}" style="height:48%;overflow:auto;padding:5px;"></div>
    </div>
  </div>
  
  <div id="pane-gt-{{prefix}}" class="row tab-pane" style="height: 100%">
      <div style="height:100%;padding:5px;" class="col-md-2">
        <div class="panel panel-default" style="height:100%;margin:0">
          <div class="panel-body">
            <div style="padding-bottom: 20px;"><strong>Top Indicators</strong></div>
            <ul class="nav nav-pills nav-stacked">
              <li class="active" role="presentation"><a href="#">Food</a></li>
              <li role="presentation"><a href="#">Environment</a></li>
              <li role="presentation"><a href="#">Civil Unrest</a></li>
              <li role="presentation"><a href="#">Social Issues</a></li>
              <li role="presentation"><a href="#">Infrastructure</a></li>
              <li role="presentation"><a href="#">Crime</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div style="height:100%;padding:5px;" class="col-md-2">
        <div class="panel panel-default" style="height:100%;margin:0">
          <div class="panel-body">
            <div style="padding-bottom: 20px;"><strong>Outcomes</strong></div>
            <button type="button" class="btn btn-danger btn-lg" style="width:100%;height:75px;margin-bottom:20px;">Service Disruption</button>
            <button type="button" class="btn btn-warning btn-lg" style="width:100%;height:75px;margin-bottom:20px;">Labor Disruption</button>
            <button type="button" class="btn btn-info btn-lg" style="width:100%;height:75px;margin-bottom:20px;">Supply Chain Disruption</button>
          </div>
        </div>
      </div>
      <div style="height:100%;padding:5px;" class="col-md-8">
        <div class="panel panel-default" style="height:100%;margin:0">
            <div style="border-bottom:1px solid #ddd;padding:5px;" class="row">
              <strong>Status:</strong>
            </div>
            <div style="height:40%;padding:5px;" class="row">
              <div id="pane-gt1{{prefix}}" style="height:100%;padding:5px;" class="col-md-6"></div>
              <div id="pane-gt2{{prefix}}" style="height:100%;padding:5px;" class="col-md-6"></div>
            </div>
            <div style="height: 40%;padding:5px;" class="row">
              <div style="height:100%;padding:5px;" class="col-md-6"></div>
              <div id="pane-gt3{{prefix}}" style="height:100%;padding:5px;" class="col-md-3"></div>
              <div style="height:100%;padding:5px;border: 1px solid #ddd; border-radius: 2px;" class="col-md-3">
                <strong>Local Resources: </strong>
              </div>
            </div>
            <div style="border-top:1px solid #ddd;padding:5px;height:12%;" class="row">
              <strong>Expert Commentary</strong>
            </div>
        </div>
      </div>
  </div>
</div>
</div>