<style>
  .dashboard,
  .dashboard .tab-pane,
  .dashboard .tab-pane > div {
    height: 100%;
  }
  .dashboard .nav-tabs {
    margin: 0;
    padding-right: 2em;
  }
  .dashboard .nav-tabs > li:last-child {
    float: right;
  }
  .dashboard .nav-tabs li .dropdown {
    display: inline-block;
    margin-right: 35px;
  }
  .dashboard .nav-tabs li .dropdown a {
    color: #000;
  }
  .dashboard .nav-tabs li a {
    cursor: default;
    font-weight: 600;
  }
  .dashboard .nav-tabs .dropdown-menu a:hover {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
  }
  .dashboard .tab-content {
    height: calc(100% - 40px);
    padding: 5px;
  }
  .dashboard .tab-pane {
    height: 100%;
  }
  .vis-wrapper {
    background: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 5px;
  }
  .vis-wrapper .vis-title {
    border-bottom: 1px solid #152935;
    color: #152935;
    font-size: 1.25em;
    font-weight: 400;
    padding: 10px 0px 5px;
  }
  .vis-wrapper .vis-stage {
    overflow: hidden;
    position: relative;
    margin: 10px 0px 5px;
  }
  .vis-wrapper-dist1 {
    height: calc(60vh - 90px);
    margin-left: 0px;
  }
  .vis-wrapper-dist2 {
    height: calc(40vh - 90px);
    margin-left: 0px;
    overflow: auto;
  }
  .vis-wrapper-dist3,
  .vis-wrapper-dist4 {
    height: calc(50vh - 90px);
    margin-right: 0px;
  }
  .vis-wrapper-gt1 {
    height: calc(100vh - 160px);
    margin-left: 0px;
  }
  .vis-wrapper-gt2 {
    height: calc(75vh - 20px);
  }
  .vis-wrapper-gt2 button {
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
  }
  .vis-wrapper-gt3,
  .vis-wrapper-gt4 {
    height: calc(50vh - 155px);
  }
  .vis-wrapper-gt5,
  .vis-wrapper-gt6 {
    height: calc(50vh - 155px);
    margin-right: 0px;
  }
  .vis-wrapper-gt7 {
    height: 10vh;
    margin-right: 0px;
  }
  .vis-wrapper-gt2 > div {
    clear: both;
  }
  .vis-wrapper-gt2 > div:nth-child(2n) .status-gauge {
    float: right;
  }

  .status-gauge {
    background-color: #ff6347;
    border-radius: 50%;
    height: 140px;
    margin: 0 5px;
    position: relative;
    width: 140px;
  }

  .status-gauge > div {
    background-color: #fff;
    border-radius: 50%;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 30px;
    position: absolute;
    text-align: center;
    width: 100px;
  }
  .status-0 {
    background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(90deg, #91CF60 50%, #eee 50%, #eee);
  }
  .status-25 {
    background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(180deg, #91CF60 50%, #eee 50%, #eee);
  }
  .status-50 {
    background-image: linear-gradient(90deg, #eee 50%, transparent 50%, transparent), linear-gradient(270deg, #91CF60 50%, #eee 50%, #eee);
  }
  .status-75 {
    background-image: linear-gradient(0deg, #FEE08B 50%, transparent 50%, transparent), linear-gradient(270deg, #FEE08B 50%, #eee 50%, #eee);
  }
  .status-90 {
    background-image: linear-gradient(54deg, #F55666 50%, transparent 50%, transparent), linear-gradient(270deg, #F55666 50%, #eee 50%, #eee);
  }
  .status-100 {
    background-image: linear-gradient(90deg, #F55666 50%, transparent 50%, transparent), linear-gradient(270deg, #F55666 50%, #eee 50%, #eee);
  }
</style>
<div pixiedust="{{pd_controls|htmlAttribute}}" class="dashboard">
  <ul class="nav nav-tabs">
    <li><a id="nav-dist-{{prefix}}" data-toggle="tab" href="#pane-dist-{{prefix}}" pixiedust>
        Disruption Dashboard
        <target pd_target="pane-dist1{{prefix}}" pd_entity
          pd_options="handlerId=mapView;rendererId=mapbox;keyFields=lat,long;valueFields=evtDate,genDate,location;preserveCols=key;aggregation=COUNT;rowCount=1000;nostore_figureOnly=true;mapboxtoken=pk.eyJ1IjoidmFiYXJib3NhIiwiYSI6ImNqMDE4a2lrZzA2NjkzMm94bXZqdTk4amYifQ.rfxH46T8UoWwxRegb3_X6g">
            <pd_event_handler pd_script="self.alert=self.getAlert(eventInfo['key']) if 'key' in eventInfo else None">
              <target pd_target="pane-dist2{{prefix}}" pd_entity="alert" pd_options="handlerId=dataframe;table_noschema=true"/>
              <target pd_target="pane-dist3{{prefix}}" pd_script="self.showWatsonResults()"/>
            </pd_event_handler>
        </target>
        <target pd_target="pane-dist2{{prefix}}" pd_entity pd_options="handlerId=dataframe;table_noschema=true"/>
        <target pd_target="pane-dist3{{prefix}}" pd_entity pd_options="handlerId=scatterPlot;rendererId=mapbox;keyFields=evtDate;valueFields=genDate;aggregation=SUM;rowCount=1000;nostore_figureOnly=true"/>
        <target pd_target="pane-dist4{{prefix}}" pd_entity pd_options="handlerId=barChart;rendererId=bokeh;keyFields=evtDate;valueFields=count;aggregation=SUM;rowCount=1000;legend=false;nostore_figureOnly=true"/>
      </a></li>
    <li><a id="nav-gt-{{prefix}}" data-toggle="tab" href="#pane-gt-{{prefix}}" pixiedust>
        GroundTruth Explorer
        <target pd_target="pane-gt3{{prefix}}" pd_entity
          pd_options="handlerId=barChart;rendererId=bokeh;keyFields=evtDate;valueFields=count;legend=false;aggregation=SUM;rowCount=1000;nostore_figureOnly=true"/>
        <target pd_target="pane-gt4{{prefix}}" pd_entity
          pd_options="handlerId=mapView;rendererId=mapbox;keyFields=lat,long;valueFields=evtDate,genDate,location;preserveCols=key;aggregation=COUNT;rowCount=1000;nostore_figureOnly=true;mapboxtoken=pk.eyJ1IjoidmFiYXJib3NhIiwiYSI6ImNqMDE4a2lrZzA2NjkzMm94bXZqdTk4amYifQ.rfxH46T8UoWwxRegb3_X6g">
        </target>
        <target pd_target="pane-gt5{{prefix}}" pd_entity
          pd_options="handlerId=lineChart;rendererId=bokeh;keyFields=evtDate;valueFields=count;legend=false;aggregation=SUM;rowCount=1000;nostore_figureOnly=true"/>
        </a></li>
    <li class="disabled">
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{entity.countryName}}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">
              Egypt
              <pd_script>
self.updateCountry("23424802")
              </pd_script>
            </a></li>
          <li><a href="#">
              Colombia
              <pd_script>
self.updateCountry("23424787")
              </pd_script>
            </a></li>
        </ul>
      </div>
      <input type="date" name="startDate" value="{{this.startDate.strftime("%Y-%m-%d")}}">
      <input type="date" name="endDate" value="{{this.endDate.strftime("%Y-%m-%d")}}">
    </li>
  </ul>

  <div class="tab-content container-fluid">
    <div id="pane-dist-{{prefix}}" class="row tab-pane tab-pane-dist fade in active" >
      <div class="col-sm-7" >
        <div class="row">
          <div class="col-sm-12">
            <div id="pane-dist1{{prefix}}" class="vis-wrapper vis-wrapper-dist1"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div id="pane-dist2{{prefix}}" class="vis-wrapper vis-wrapper-dist2"></div>
          </div>
        </div>
      </div>
      <div class="col-sm-5" >
        <div class="row">
          <div class="col-sm-12">
            <div id="pane-dist3{{prefix}}" class="vis-wrapper vis-wrapper-dist3"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div id="pane-dist4{{prefix}}" class="vis-wrapper vis-wrapper-dist4"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="pane-gt-{{prefix}}" class="row tab-pane tab-pane-gt" >
      <div class="col-md-2">
        <div class="row">
          <div class="col-sm-12">
            <div id="pane-gt1{{prefix}}" class="vis-wrapper vis-wrapper-gt1">
              <ul class="nav nav-pills nav-stacked">
                <li class="active" role="presentation"><a href="#">Food</a></li>
                <li role="presentation"><a href="#">Infrastructure</a></li>
                <li role="presentation"><a href="#">Environment</a></li>
                <li role="presentation"><a href="#">Civil Unrest</a></li>
                <li role="presentation"><a href="#">Crime</a></li>
                <li role="presentation"><a href="#">Social Issues</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-2">
            <div class="row">
              <div class="col-sm-12">
                <div id="pane-gt2{{prefix}}" class="vis-wrapper vis-wrapper-gt2">
                  <div>
                    <div class="status-gauge status-90"><div>90%<br>Food prices</div></div>
                  </div>
                  <div>
                    <div class="status-gauge status-50"><div>50%<br>Food production</div></div>
                  </div>
                  <div>
                    <div class="status-gauge status-75"><div>75%<br>Crop failure</div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-sm-12">
                <div id="pane-gt3{{prefix}}" class="vis-wrapper vis-wrapper-gt3"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div id="pane-gt4{{prefix}}" class="vis-wrapper vis-wrapper-gt4"></div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-sm-12">
                <div id="pane-gt5{{prefix}}" class="vis-wrapper vis-wrapper-gt5"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div id="pane-gt6{{prefix}}" class="vis-wrapper vis-wrapper-gt6"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="pane-gt7{{prefix}}" class="vis-wrapper vis-wrapper-gt7">
              commentary
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#nav-dist-{{prefix}}').click();
</script>