<table class="table table-condensed">
    <thead>
        <tr>
            {%for col in this.listAlerts.columns%}
            <th>{{col}}</th>
            {%endfor%}
            <th>Predicted Indicator</th>
        </tr>
    </thead>
    <tbody>
        {%for row in this.listAlerts.iterrows()%}
        {%set rowIndex = loop.index%}
        <tr>
            {%for col in this.listAlerts.columns%}
            <th class="{{col}}{{prefix}}">{{row[1][col]}}</th>
            {%endfor%}
            <th id="predictedIndicator{{rowIndex}}{{prefix}}" class="predictedIndicator{{prefix}}" url="{{row[1]['url']}}">
                {%if loop.index < 20%}
                {{this.classify(row[1]['url'])}}
                {%endif%}
            </th>
        </tr>
        {%endfor%}
    </tbody>
</table>
<script>
/*$(".predictedIndicator{{prefix}}").each(function(){
    debugger;
    pixiedust.executeDisplay({{pd_controls}}, {
        "targetDivId": this.getAttribute("id")
    });
    $(this).text( this.getAttribute("url"));
})*/
</script>