<div class="row" style="max-height:{{'100%' if this.runInDialog else '500px'}};overflow:auto">
    <div class="form-group col-sm-3" style="padding-right:10px;">
        <ul class="nav nav-pills nav-stacked">
            {%for key in this.alerts['key'].values.tolist()%}
            <li class="{{'active' if loop.first else ''}}" pd_target="target{{prefix}}"
                pd_refresh
                pd_script="self.listAlerts = self.getAlert('{{key}}')">
                <a href="#">{{key}}</a>
            </li>
            {%endfor%}
        </ul>
        
    </div>
    <div class="form-group col-sm-9">
        <div id="target{{prefix}}"></div>
    </div>
</div>