<div class="row">
    <div class="form-group col-sm-2" style="padding-right:10px;">    
        <p>
        <button type="submit" class="btn btn-primary" pd_target="results{{prefix}}" 
            pd_options="handlerId=barChart;keyFields=class;valueFields=confidence;aggregation=COUNT;rowCount=500;rendererId=bokeh"
            pd_entity="enrichedTweets"> Tweets By Classes
        </button>
        </p>
        <p>
        <button type="submit" class="btn btn-primary" pd_target="results{{prefix}}">
            <pd_script>self.saveToDash()</pd_script>
            Save to DashDB
        </button>
        </p>
    </div>
    <div class="form-group col-sm-10">
        <div id="results{{prefix}}"></div>
    </div>
</div>